<h1><%= @restaurant.name %>'s Page</h1>
<h3>Restaurant Details</h3>
<p>Category: <%= @restaurant.category %></p>
<p>Address:<%= @restaurant.address %></p>
<p>Phone Number:<%= @restaurant.phone_number %></p>
<br><hr><br>
<h2>Reviews</h2>
<h3>New Review</h3>
<%= render 'reviews/revform', restaurant: @restaurant, review: @restaurant.reviews.new %>
<br><hr><br>
<h3>See Reviews</h3>
<ul>
<% @restaurant.reviews.each do |rev| %>
  <li>
    <%= rev.rating %> - <%= rev.content %>
  </li>
<% end %>
</ul>
